body {
    height: 100vh;
    display: flex;
    background-color: rgb(83, 83, 83);
    margin: 0;
    width: 100%;
}

#header {
    background-color: rgb(53, 53, 53);
    color: aliceblue;
}

#server-nav {
    width: 70px;
    height: 100%;
    color: grey;
}

body> div, form {
    height: 100%;
    
}

#left-pannel {
    float: left;
    width: 150px;
    position: relative;
    background-color: rgb(36, 36, 36);
}

#control-pannel img {
    width: 50px;
    
    border-radius: 25px;

}

#control-pannel {
    position: absolute;
    bottom: 0;
}


/*Main chat section*/
#convo {
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

#convo-chat {
    padding-bottom: 5px;
    width: 100%;
    overflow: scroll;
    flex-grow: 1;
    height: 100%;    
    display: flex;
    justify-content: end;
    flex-direction: column;
}

#message-edit {
    height: 30px;
    width: 100%;
}

#message-edit > input {
    bottom: 0;
    position: absolute;
    right: 5px;
    left: 5px;
}

