body {
    height: 100vh;
    display: flex;
    background-color: rgb(83, 83, 83);
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction:row;
}

#header {
    background-color: rgb(53, 53, 53);
    color: aliceblue;
}

#popup {
    background-color: red;
}

#server-nav {
    width: 5%;
    height: 100%;
    color: grey;
    display: flex;
    flex-direction: column;
}

body> div, form {
    height: 100%;
}

#left-pannel {
    float: left;
    width: 10%;
    position: relative;
    background-color: rgb(36, 36, 36);
}

#control-pannel img {
    width: 50px;
    
    border-radius: 25px;

}

#control-pannel {
    position: absolute;
    bottom: 0;
    width: 150px;
}

#channel-list {
    width: 150px;
}


/*Main chat section*/
#convo {
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 100%;
    width: 85%;
    position: relative;
}

#convo-chat-wrapper {
    max-height: 97%;
    overflow-y: scroll;
}

#convo-chat {
    padding-bottom: 5px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    row-gap: 5px;
    justify-content: end;
    flex-direction: column;
}

#convo-chat>div {
    width: 100%;
    display: inline-block;
    word-wrap: break-word;
}

#convo-chat>div:hover{
    background-color: rgb(59, 59, 59);
}

#message-edit {
    flex-grow: 1;
    height: 30px;
    width: 100%;
}

#message-edit > input {
    bottom: 0;
    position: absolute;
    right: 5px;
    left: 5px;
    margin: 5px;
}

