#server-join-form {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    
    justify-content: center;
    align-items: center;
}

#form-wrapper {
    height: fit-content;
    width: fit-content;
    background-color: var(--conversations-color);
    padding: 10px;
    border-radius: 5px;
    animation-name: popupAnimation;
    animation-duration: 1s;
}

#form-wrapper > form {
    display: flex;
    flex-direction: column;
}