#login-form {
    display: flex;
    z-index: 42;
}

#create-account-form {
    display: none;
    z-index: 42;
}

#create-account-form > form{
    background-color: var(--conversations-color);
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    border-radius: 5px;
    border: 5px solid var(--conversations-color);
    z-index: 5;
}

#login-form > form {
    background-color: var(--conversations-color);
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    border-radius: 5px;
    border: 5px solid var(--conversations-color);
    z-index: 5;
}