.message {
    width: 100%;
    height: fit-content;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

.messageMetadata {
    display: flex;
    flex-direction: row;
}

.messageContent {
    margin-left: 10px;
    margin-right: 10px;
}

.username {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 5px;
}

.username:hover {
    text-decoration: underline;
}

.dateWrapper {
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin: 5px;
}

.date {
    color: var(--unimportant-text-color);
    flex-grow: 0;
    flex-shrink: 0;
}

.date:hover {

}
