.popupForm {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: var(--main-color-transparent);
}

.popupInnerWrapper {
    min-height: 400;
    max-height: fit-content;
    width: 500;
    background-color: var(--conversations-color);
    padding: 10px;
    border-radius: 5px;
    animation-name: popupAnimation;
    animation-duration: 1s;
}