:root {
    font-size: 20px;
    --main-color: rgb(0, 48, 97);
    --main-color-transparent: rgb(58, 77, 96, .7);
    --text-input-box-color: rgb(60, 60, 60);
    --conversations-color: rgb(0, 33, 66);
    --conversations-color-hover: rgb(0, 48, 95);
    --text-hover-color: rgb(45, 60, 75);
}




body {
    color: white;
    margin: 0;
    border: 0; 
    font-size: large;
}

#header {
    background-color: rgb(53, 53, 53);
    color: aliceblue;
}

#main-window-wrapper {
    position: fixed;
    z-index: 1;
    height: 100vh;
    display: flex;
    background-color: var(--main-color);
    margin: 0;
    width: 100%;
    flex-direction:row;
}

.popupForm {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
}

.popupForm > form {
    background-color: var(--conversations-color);
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    border-radius: 5px;
    border: 5px solid var(--conversations-color);
}

#login-form {
    display: flex;
    z-index: 42;
}

#login-form > form {
    display: flex;
}

#create-account-form {
    display: none;
    z-index: 42;
}

#create-account-form > form{
    display: flex;
}

#server-join-form {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-color: var(--main-color-transparent);
    justify-content: center;
    align-items: center;
}

#form-wrapper {
    height: fit-content;
    width: fit-content;
    background-color: var(--conversations-color);
    padding: 10px;
    border-radius: 5px;
}

#form-wrapper > form {
    display: flex;
    flex-direction: column;
}


@keyframes serverHover {
    from {
        border-radius: 40px;
    }
    to {
        border-radius: 20px;
    }
}

.server {
    background-size: 100%;
    font-size: 0;
    border-radius: 40px;
    height: 80px;
    width: 80px;
    outline: none;
    border: none;
    padding: none;
    left:15px;
    transition: border-radius 300ms;
}

.server:hover {
    border-radius: 20px;
}

.channel {
    width: 95%;
    display: flex;
    align-items: center;
    background-color: var(--conversations-color);
    border-radius: 5px;
}

.channel:hover {
    background-color: var(--conversations-color-hover);
    border-color: var(--conversations-color);
}

.channel > button {
    border: none;
    width: 100%;
    color: white;
    background-color: transparent;
}
  
input, textarea {
    border: 5px solid var(--text-input-box-color);
    margin: 10px;
    background-color: var(--text-input-box-color);
    border-radius: 5px;
    font-size: large;
    outline-color: red;
    outline: none;
    color: white;
}

input:focus {
    outline-width: 0;
}

button {
    line-height: 1;
    height: max-content;
    font-size: larger;
}


#server-nav {
    width: 100px;
    height: 100%;
    color: var(--conversations-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
}

body> div, form {
    height: 100%;
}

#left-pannel {
    float: left;
    width: 200px;
    position: relative;
    background-color: var(--conversations-color);
    flex-grow: 0;
    flex-shrink: 0;
}

#control-pannel img {
    width: 50px;
    
    border-radius: 25px;

}

#control-pannel {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#channel-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
}

#channel-members {
    width: 200px;
    text-align: center;
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    border: 10px;
    background-color: var(--conversations-color);
    flex-grow: 0;
    flex-shrink: 0;
}


/*Main chat section*/
#convo {
    display: none;
    flex-shrink: 1;
    flex-grow: 1;
    justify-content: end;
    flex-direction: column;
    height: 100%;
    width: auto;
    position: relative;
}

#convo-chat-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: scroll;
}

#convo-chat {
    padding-bottom: 5px;
    width: 100%;
    flex-shrink: 1;
    display: flex;
    row-gap: 5px;
    justify-content: end;
    flex-direction: column;
}

#convo-chat>div {
    width: 100%;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-word;
}

#convo-chat>div:hover{
    background-color: var(--text-hover-color);
}

#message-edit {
    flex-grow: 0;
    flex-shrink: 0;
    height:fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#message-edit > textarea {
    bottom: 0;
    flex-grow: 1;
    right: 5px;
    left: 5px;
    margin: 5px;
    height:28px;
    resize: none;
    font-size: 1rem;
}
