
#channel-members {
    width: 250px;
    text-align: center;
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    border: 10px;
    background-color: var(--conversations-color);
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: scroll;
    align-items: center;
}

.memberButton {
    display: flex;
    justify-content: left;
    flex-direction: row;
    border-radius: 10px;
    height: 50px;
    width: 95%;
    border-width: 5px;
}

.memberButton .rwrapper {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
    text-align: left;
    overflow: hidden;
}

.memberButton .lwrapper {
    padding-right: 5px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memberButton .profilePicture {
    height: 45px;
    width: 45px;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.memberButton:hover {
    background-color: var(--text-hover-color);
}

.memberName {
    margin: 0;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    padding-bottom: 5px;
}

.connexionMessage {
    color: var(--unimportant-text-color);
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

.userButton {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    height: 40px;
}

.userButton:hover {
    background-color: var(--text-hover-color);
}

.userBanner {
    width: 100%;
}

.usernameWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.usernameWrapper>small, .usernameWrapper>p {
    margin-block-start: 0;
    margin-block-end: 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
}

.usernameWrapper>small {
    color: var(--unimportant-text-color);
}